@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: '←';
}

[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: '→';
}

[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

.slick-prev {
  background-image: url("../img/Rounded_left.png");
  height: 40px;
}

.slick-next {
  background-image: url("../img/Rounded_right.png");
  height: 40px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: 'Light';
  src: url("../font/RobotoLight/RobotoLight.eot");
  src: local("../font/RobotoLight/RobotoLight"), url("../font/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../font/RobotoLight/RobotoLight.woff") format("woff"), url("../font/RobotoLight/RobotoLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Medium';
  src: url("../font/RobotoMedium/RobotoMedium.eot");
  src: local("../font/RobotoMedium/RobotoMedium"), url("../font/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../font/RobotoMedium/RobotoMedium.woff") format("woff"), url("../font/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input, button {
  border: 0;
}

body {
  font-family: Medium;
  margin: 0px;
}

.container {
  max-width: 1163px;
  margin: auto;
}

.button {
  background-color: #8ec740;
  color: #ffffff;
  font-family: Medium;
  border-radius: 25px;
  border: none;
}

.scrollup {
  width: 56px;
  height: 67px;
  opacity: 0.3;
  position: fixed;
  bottom: 50px;
  right: 96px;
  display: none;
  text-indent: -9999px;
  background: url("../img/icon_top.png") no-repeat;
}

.text-bold {
  font-family: Medium;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 13px;
}

.navbar-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 33px;
  margin-left: 10px;
}

.navbar__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
}

.navbar__phone {
  margin-right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__image {
  height: 30px;
  margin: 3px 11px 0 11px;
}

.navbar-logo {
  text-align: center;
  margin-right: 15px;
}

.navbar-logo__tagline-top {
  color: #363636;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  margin: 12px auto 2px;
}

.navbar-logo__tagline {
  color: #009ac0;
  font-family: Medium;
  font-size: 28px;
  line-height: 24px;
  border-bottom: 2px solid #009ac0;
  padding-bottom: 7px;
  width: 118px;
  margin: 0px auto;
  font-family: Century;
}

.navbar-logo__tagline-bottom {
  color: #363636;
  font-family: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  margin: 3px;
}

.navbar-buttons {
  margin-top: 35px;
}

.navbar-phone, .email {
  text-decoration: none;
  color: #363636;
  font-size: 15px;
  line-height: 23px;
  display: block;
  font-family: Light;
}

.cabinet {
  color: #8ec740;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  padding: 2px 15px;
  border: 1px solid #8ec740;
  border-radius: 4px;
  background: none;
  margin-right: 13px;
}

.order {
  width: 164px;
  height: 45px;
  font-size: 12px;
  text-transform: uppercase;
}

.img-cabinet {
  display: none;
}

.img-order {
  display: none;
}

@media (min-width: 992px) {
  .cabinet:hover {
    background-color: #8ec740;
    cursor: pointer;
    color: white;
  }
  .order:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  .navbar-buttons {
    margin-right: 20px;
  }
}

@media (max-width: 992px) {
  .navbar-contacts {
    display: none;
  }
  .scrollup {
    display: none !important;
  }
  .navbar-buttons {
    margin-right: -24px;
  }
  .cabinet {
    margin-bottom: 10px;
  }
  .order {
    margin-right: 20px;
  }
}

@media (max-width: 576px) {
  .navbar-logo__tagline-top {
    font-size: 9px;
    margin: 9px auto -5px;
    text-align: unset;
  }
  .navbar-logo__tagline {
    font-size: 18px;
    border-bottom: 0px solid #009ac0;
  }
  .navbar-logo__tagline-bottom {
    display: none;
  }
  .img-cabinet {
    display: block;
    margin-right: 5px;
  }
  .img-order {
    display: block;
  }
  .cabinet {
    display: none;
  }
  .order {
    display: none;
  }
  .navbar-block {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 0;
  }
  .navbar-logo {
    z-index: 10;
    margin-right: 15px;
    text-align: left;
  }
  .navbar-buttons {
    margin-right: 40px;
    z-index: 11;
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    width: 30px;
    margin-left: 46px;
  }
  .navbar {
    position: absolute;
    right: 8px;
    width: 253px !important;
  }
}

.navbar-menu {
  text-align: center;
  background-color: #c4e9f3;
}

.navbar-menu a {
  display: block;
  text-decoration: none;
  outline: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.menu-block {
  display: table;
  margin: 0 auto;
}

.menu-block ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topmenu:after {
  content: "";
  display: table;
  clear: both;
}

.normal-size {
  padding-left: 27px;
}

.topmenu > li {
  float: left;
  position: relative;
  margin: 0 16px 0 10px;
}

.topmenu > li > a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #404040;
  padding: 13px  30px;
  font-family: Light;
  border-left: 1px solid white;
  margin: 12px 0;
}

.submenu-link:after {
  content: "\f107";
  margin-left: 10px;
}

.submenu {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 180px;
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.submenu a {
  text-align: left;
  padding: 12px 15px;
  font-family: Light;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #404040;
}

.submenu li {
  width: 409px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  background: #dcf2f8;
}

.submenu li:last-child a {
  border-bottom: none;
}

.burger-size {
  display: none;
}

.burger-open__image {
  display: block;
  width: 26px;
  background: transparent;
  border: none;
  padding: 20px 0;
  margin-left: 20px;
}

.burger-close {
  background-color: #009ac0;
  width: 100%;
  height: 56px;
  border: none;
}

.burger-close img {
  right: 14px;
  position: absolute;
  top: 18px;
}

@media (min-width: 992px) {
  .topmenu li a:hover {
    color: #009ac0;
    background-color: #ffffff;
    opacity: 0.4;
  }
  .topmenu > li:hover .submenu {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  .topmenu > li:hover .submenu {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@media (max-width: 1200px) {
  .topmenu > li > a {
    padding: 24px 10px;
  }
}

@media (max-width: 992px) {
  .topmenu > li > a {
    padding: 24px 0px;
    border: 0px;
  }
  .normal-size {
    display: none;
  }
  .burger-size {
    display: block;
  }
  .burger-menu {
    position: relative;
    min-width: 284px;
    width: 50%;
    background-color: #c4e9f3;
  }
  .submenu-open:hover .submenu {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  .menu-block {
    text-align: left;
  }
  .menu-block ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: -7px;
  }
  .topmenu > li {
    width: 280px;
    border-bottom: 1px solid #009ac0;
  }
  .topmenu > li > a {
    padding: 0px 8px;
    color: #44494a;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}

@media (max-width: 576px) {
  .burger-open__image {
    margin-left: 16px;
  }
}

.main {
  background-image: url("../img/main-background.jpg");
  background-color: #eaf6f9;
  background-size: 136%;
  background-repeat: no-repeat;
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 35px;
}

.main-about {
  margin-right: 50px;
  padding-left: 25px;
}

.main-title {
  font-family: Light;
  color: #009ac0;
  font-size: 30px;
  font-weight: 300;
  line-height: 33px;
  margin: 55px 12px -5px 0;
}

.main-subtitle {
  font-family: Light;
  color: #363636;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 37px;
}

.main__input {
  width: 220px;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-family: Light;
  font-size: 13px;
  display: inline-block;
  border-radius: 20px;
  padding-left: 15px;
  margin-top: 8px;
}

.main__button {
  margin-top: 14px;
  padding: 14px 35px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 21.47px;
  text-transform: uppercase;
}

.main__additional {
  display: inline-block;
  color: #009ac0;
  font-family: Light;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  border-bottom: 2px dotted #009ac0;
  margin-left: 55px;
  text-decoration: none;
}

.main-list {
  display: inline-block;
  background: url("../img/rounded.png") no-repeat right white;
  position: relative;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.main-list select {
  outline: 0;
  background: transparent;
  width: 210px;
  height: 45px;
  padding-left: 12px;
  border: 0;
  -webkit-appearance: none;
  font-family: Light;
  color: #999;
  font-size: 13px;
}

.main-list option {
  color: #363636;
}

.error {
  border: 1px solid red !important;
  color: red;
  padding: 3px;
  border-radius: 20px;
  margin-top: 8px;
}

.extra {
  margin-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.extra__input {
  width: 221px;
  height: 45px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  font-family: Light;
  font-size: 13px;
  display: inline-block;
  border-radius: 20px;
  padding-left: 15px;
  margin-right: 4px;
}

.extra__input:first-child {
  margin-bottom: 12px;
}

.news {
  text-align: center;
  padding: 30px  0 122px;
}

.news-container {
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-block {
  padding-left: 17px;
  max-width: 550px;
}

.news-title {
  color: #363636;
  font-family: Light;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0;
}

.news__date {
  color: #8a8a8a;
  font-family: Light;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 3px;
  margin-top: 30px;
}

.news__subtitle {
  font-weight: 400;
  color: #009ac0;
  font-size: 15px;
}

.none {
  display: none;
}

@media (min-width: 992px) {
  .button:hover {
    cursor: pointer;
    background-color: #6ca322;
  }
  .main__additional:hover {
    cursor: pointer;
  }
  .main-list select {
    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  .main-about {
    margin-right: 0;
    padding-left: 43px;
  }
  .error {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 95%;
  }
  .navbar-contacts {
    display: none;
  }
  .main-picture {
    display: none;
  }
}

@media (max-width: 576px) {
  .main-title {
    font-family: Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin: 0 14px 0 0;
  }
  .none {
    display: contents;
  }
  .main-subtitle {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 37px;
    margin: 11px 13px 16px 0;
    text-align: center;
  }
  .main-about {
    padding-left: 13px;
  }
  .main-form__block {
    margin-left: 25px;
  }
  .main__input {
    margin-bottom: 1px;
    height: 40px;
    margin-bottom: 5px;
  }
  .main__button {
    padding: 14px 33px;
    margin-left: 21px;
    font-size: 13px;
    font-family: Medium;
  }
  .main__additional {
    margin: 14px -8px;
    font-size: 12px;
  }
  .news {
    padding: 15px 0;
  }
  .news-container {
    padding-left: 0;
  }
  .news-title {
    font-size: 18px;
    font-family: Medium;
    margin-bottom: 16px;
  }
  .news-block {
    padding-left: 5px;
    text-align: initial;
  }
  .news__date {
    margin-top: 0;
    margin-bottom: 0;
  }
  .news__subtitle {
    display: inline-block;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 23px;
  }
  .extra__input {
    margin-bottom: 6px;
  }
}

.line {
  margin: -10px 0 -7px;
  color: #009ac0;
}

.services {
  margin-top: 43px;
}

.services-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 23px;
}

.service-block {
  max-width: 263px;
  background-color: #e6f4f8;
  padding: 37px 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-title {
  color: #009ac0;
  font-family: Light;
  font-size: 18px;
  font-weight: 700;
  line-height: 33px;
  margin: 5px 2px 0;
}

.service-subtitle {
  margin: 21px 13px 40px;
  color: #363636;
  font-family: Light;
  font-size: 13.9px;
  line-height: 18px;
  min-height: 111px;
  text-align: center;
}

.service-more {
  text-decoration: none;
  background-color: #8ec740;
  color: #ffffff;
  font-family: Light;
  font-size: 14px;
  font-weight: 600;
  line-height: 21.47px;
  padding: 11px 45px;
  border-radius: 30px;
}

.services-smal-size {
  width: 263px;
  margin: auto;
  display: none;
}

.services__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: -225px;
  width: 109%;
  left: -11px;
}

@media (min-width: 992px) {
  .service-more:hover {
    cursor: pointer;
    background-color: #6ca322;
  }
}

@media (max-width: 1200px) {
  .services-blocks {
    width: 97%;
  }
  .service-block {
    max-width: 240px;
    margin: 0 2px;
  }
  .service-subtitle {
    min-height: 130px;
  }
}

@media (max-width: 992px) {
  .services-smal-size {
    display: block;
  }
  .services-blocks {
    display: none;
  }
  .service-block {
    max-width: 263px;
  }
  .services {
    margin-bottom: -60px;
  }
}

@media (max-width: 576px) {
  .services {
    margin-top: 24px;
  }
  .service-subtitle {
    margin-bottom: 20px;
  }
}

.small-size {
  display: none;
}

.reviews-title {
  text-align: center;
  color: #363636;
  font-family: Light;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  margin: 85px auto 41px;
}

.reviews-carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 34px;
}

.reviews-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -4px 9px 46px 26px;
}

.reviews-cart img {
  max-width: 111px;
  max-height: 111px;
}

.people-cart {
  background-image: url("../img/massage-fon.png");
  max-width: 430px;
  padding-left: 46px;
  padding-top: 2px;
  margin-left: 5px;
}

.people__name {
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 0;
}

.people__massage {
  font-family: Light;
  font-weight: 300;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  margin-top: 4px;
  margin-bottom: 26px;
}

.slider-block {
  max-width: 500px;
}

.reviews__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: -267px;
  max-width: 230px;
  padding: 0 5px 0 36px;
}

.slider-block {
  background: url(../img/backgroun-slider-people.png) no-repeat bottom;
  background-position-y: 106px;
  max-width: 263px;
}

@media (max-width: 1200px) {
  .small-size {
    display: block;
    max-width: 263px;
    margin: 0 auto;
  }
  .small-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px;
    padding-bottom: 32px;
  }
  .full-size {
    display: none;
  }
  .slick-initialized .slick-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slider-people {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider-people__cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider-people__massage {
    margin: 0 50px;
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    font-family: Light;
    margin: 3px 3px;
    max-width: 254px;
  }
}

@media (max-width: 576px) {
  .reviews-title {
    font-size: 18px;
    font-family: Medium;
    margin: 89px auto 15px;
  }
  .slider-people img {
    max-width: 97px;
  }
  .slider-people__name {
    margin: 43px auto 4px;
  }
}

.you-can {
  background-color: #f5fbfd;
  padding-top: 29px;
  padding-bottom: 44px;
}

.you-can-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1128px;
}

.you-can-container {
  padding-left: 24px;
}

.you-can__title {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 23px;
}

.you-can__discription {
  color: #363636;
  font-family: Light;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin: 0 0 0 9px;
}

.block-discription {
  display: -webkit-bo;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.block-discription img {
  display: block;
}

.block-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.block-work img {
  height: 10px;
}

@media (max-width: 992px) {
  .you-can-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .you-can-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 525px;
  }
}

@media (max-width: 576px) {
  .you-can {
    padding-top: 16px;
    padding-bottom: 34px;
  }
  .you-can-container {
    padding-left: 0;
  }
  .you-can__title {
    margin-bottom: 8px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .you-can__discription {
    line-height: 20px;
    font-family: Medium;
    font-size: 14px;
  }
  .block-work img {
    margin-top: -20px;
  }
  .block-discription {
    margin-left: 6px;
    margin-right: 16px;
  }
}

.about {
  padding-top: 40px;
}

.about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-title {
  color: #464646;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.about-subtitle {
  margin-top: 0;
  margin-bottom: 8px;
  color: #464646;
  font-family: Light;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  max-width: 671px;
  text-align: justify;
}

.about-picture {
  margin: 5px 22px;
}

@media (max-width: 992px) {
  .about-picture {
    display: none;
  }
  .about-description {
    margin: auto;
  }
}

@media (max-width: 567px) {
  .about {
    padding-top: 15px;
  }
  .container {
    width: 91%;
  }
  .about-subtitle {
    font-family: Roboto;
    font-size: 16px;
  }
  .about-title {
    font-size: 22px;
  }
}

.certificates {
  padding: 30px 0;
}

.certif-title {
  color: #363636;
  font-family: Light;
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  margin: 17px 0 28px 24px;
}

.certif-window {
  max-width: 1075px;
  margin-left: 58px;
}

.certif__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: -157px;
  max-width: 100%;
}

.certif-arrows__left {
  margin-left: -40px;
  cursor: pointer;
}

.certif-arrows__right {
  margin-right: -35px;
  cursor: pointer;
}

.certif-image {
  border: 0 !important;
  outline: none;
}

@media (max-width: 1200px) {
  .certif__arrows {
    max-width: 92%;
  }
  .certif-window {
    width: 820px;
    margin: 0 auto;
  }
  .certif-title {
    margin: 17px 60px 28px 0;
    text-align: center;
  }
}

@media (max-width: 993px) {
  .certif-window {
    width: 530px;
  }
}

@media (max-width: 762px) {
  .certif-arrows__left {
    margin-left: -45px;
  }
  .certif-arrows__right {
    margin-right: -50px;
  }
  .certif-window {
    width: 215px;
  }
}

@media (max-width: 567px) {
  .certificates {
    padding: 0 32px 4px;
  }
  .certif-title {
    font-size: 19px;
    margin: 20px 0 28px 0px;
  }
}

/*---------------------- блок подвала -----------------------*/
.contacts-map {
  position: relative;
}

.ymap-container {
  position: relative;
  /*margin: 3em 0 2em 0;*/
  overflow: hidden;
  cursor: pointer;
  background: url("../img/yandex-before-load.jpg") #ffffff no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.2);
}

#map-yandex {
  position: relative;
  z-index: 7;
  width: 100%;
  height: 26em;
  cursor: pointer;
  background-color: transparent;
}

/*Индикатор загрузки, который показывается до загрузки карты*/
.loader {
  position: absolute;
  z-index: 15;
  top: -100%;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #000000;
  -webkit-transition: opacity .7s ease;
  transition: opacity .7s ease;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

.loader:after,
.loader:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.loader.is-active {
  top: 0;
  opacity: 1;
}

.loader-default:after {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  width: 48px;
  height: 48px;
  content: '';
  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
  border: solid 8px #ffffff;
  border-left-color: transparent;
  border-radius: 50%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes blink {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

.map {
  /*background-image: url("../img/yamap.jpg");*/
  width: 65%;
  left: 0;
  top: 0;
  position: absolute;
}

.container-map {
  max-width: 1163px;
  margin: auto;
}

.contacts {
  padding-left: 38px;
  margin-bottom: 20px;
}

.contacts-1 {
  -ms-flex-preferred-size: 34%;
      flex-basis: 34%;
  padding: 89px 0px 106px 0px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.contacts-list__map {
  padding: 0;
  list-style: none;
  margin-left: 12px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 27px;
}

.contacts-icon {
  width: 20px;
  line-height: 2;
  margin-right: 20px;
}

.contacts__text {
  font-family: Light;
  font-size: 14px;
  line-height: 20px;
}

.contacts__text-bold {
  max-width: 275px;
  margin-bottom: -4px;
}

.list__text-bold {
  font-size: 16px;
  line-height: 30px;
}

.contacts__phone {
  display: inline-block;
  color: #363636;
  font-family: Light;
  font-size: 14px;
  line-height: 20px;
  margin: 0px -2px;
  text-decoration: none;
}

.contacts-title {
  color: #464646;
  font-size: 24px;
  font-weight: 400;
  line-height: 25px;
  margin: 30px 0 0 0;
}

.contacts-subtitle {
  color: #464646;
  font-family: Light;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  margin: 11px 0 0 0;
}

.office-location {
  color: #464646;
  font-family: Light;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  margin: 31px 0 19px 0;
}

@media (max-width: 766px) {
  .contacts {
    padding-left: 0;
  }
  .contacts-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .map {
    position: static;
    width: 100%;
  }
  .contacts-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts-1 {
    padding: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 567px) {
  .contacts-title {
    font-size: 20px;
    margin: 15px 0 0 -2px;
  }
  .contacts-subtitle {
    margin: 3px 0 0 0;
  }
  .office-location {
    font-size: 16px;
    margin: 12px 0 0 0;
  }
  .contacts-list__map {
    margin-top: 7px;
    margin-left: 0;
  }
  #map-yandex {
    height: 27em;
  }
  .contacts {
    margin-bottom: 33px;
  }
}

.questions {
  background-color: #f5fbfd;
  border-bottom: 1px solid #d6ebf2;
  padding-top: 18px;
  padding-bottom: 51px;
}

.any-questions {
  color: #363636;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  margin: 20px 0 0 20px;
}

.forms-questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 0 10px 20px;
}

.questions-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

.questions-name__fotm input {
  display: block;
}

.questions-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.question-subtitle {
  color: #363636;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 30px;
}

.questions-name__title {
  margin-right: 70px;
  width: 124px;
}

.questions-name__fotm {
  margin-top: 6px;
}

.question__input {
  width: 360px;
  height: 42px;
  border: 1px solid rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  margin-bottom: 10px;
  border-radius: 3px;
}

.questions-title__form {
  max-width: 150px;
  margin-right: 46px;
}

.questions-title__title {
  max-width: 360px;
}

.questions-title__select {
  display: inline-block;
  background: url("../img/rounded.png") no-repeat right white;
  position: relative;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin: 6px 0 10px 0;
}

.questions-title__select select {
  outline: 0;
  background: transparent;
  height: 40px;
  padding: 5px;
  color: #363636;
  border: 0;
  -webkit-appearance: none;
  font-family: Light;
  color: #363636;
  font-size: 13px;
  font-weight: 600;
  line-height: 22px;
  width: 360px;
}

.question__input-area {
  width: 360px;
  height: 145px;
  border: 1px solid rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
}

.questions__button {
  margin-left: 44%;
  padding: 12px 40px;
  font-family: Light;
  font-size: 14px;
  font-weight: 700;
  line-height: 21.47px;
  text-transform: uppercase;
}

.questions-form-small {
  display: none;
}

@media (max-width: 1200px) {
  .any-questions {
    text-align: center;
  }
  .forms-questions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .questions-name {
    margin-right: 0;
  }
}

@media (max-width: 766px) {
  .questions-name__title {
    margin-right: 0;
  }
  .forms-questions {
    margin: 19px 0 10px 0px;
  }
  .questions-title__form {
    max-width: 120px;
    margin-right: 0;
  }
}

@media (max-width: 567px) {
  .questions-form-big {
    display: none;
  }
  .questions-form-small {
    display: block;
  }
  .question__input {
    width: 290px;
    font-size: 12px;
    text-align: center;
    margin-bottom: 3px;
  }
  .question__input-area {
    width: 290px;
  }
  .questions-title__title {
    max-width: 290px;
  }
  .questions-title__select select {
    width: 290px;
    padding: 0 0 0 111px;
  }
  .any-questions {
    font-size: 18px;
    margin: 0px 0 0 -4px;
  }
  .questions-name__fotm {
    margin-top: 0px;
  }
  .questions-title__select {
    margin: 0px 0 3px 0;
    font-size: 14px;
    width: 290px;
    background: white;
    background-image: url(../img/rounded.png), url(../img/rounded.png);
    background-repeat: no-repeat;
    background-position: left, right;
  }
  .question__input-area {
    font-size: 13px;
    text-align: center;
    padding-top: 13px;
    height: 120px;
  }
  .questions__button {
    margin-left: 21%;
    padding: 12px 46px;
    padding: 12px 43px;
    margin-top: 5px;
  }
  .questions {
    padding-bottom: 35px;
  }
}

.footer {
  background-color: #f5fbfd;
  padding: 29px 0 68px;
}

.footer-contacts {
  max-width: 1120px;
  margin: auto;
  padding-right: 15px;
  border-bottom: 1px solid #AEEAF9;
}

.footer-copyright {
  text-align: center;
  font-family: Light;
  font-size: 13px;
  font-weight: 300;
  padding-top: 40px;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 66px;
}

.contacts-list__item {
  max-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-list__item:last-child {
  margin-left: 28px;
  margin-top: 2px;
}

.contacts-list__phone {
  text-decoration: none;
  color: #363636;
  font-family: Light;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.contacts-list__icon {
  margin-right: 10px;
}

.list__text {
  font-family: Light;
  font-size: 14px;
}

.list__text__email {
  font-family: Light;
  text-decoration: none;
  color: #363636;
  font-size: 14px;
}

.list__text-bold {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

@media (max-width: 767px) {
  .contacts-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts-list__icon {
    display: none;
  }
  .contacts-list__item {
    max-width: 280px;
    text-align: center;
    margin-bottom: 23px;
  }
}

@media (max-width: 576px) {
  .footer {
    padding: 20px 0 68px;
  }
  .footer-contacts {
    padding-left: 0;
  }
  .contacts-list {
    padding-right: 0;
    padding-left: 12px;
  }
  .contacts-list__item:last-child {
    margin-left: 0;
    margin-top: -6px;
  }
  .contacts-list {
    margin-bottom: 0px;
  }
  .footer-copyright {
    font-size: 12px;
    padding-top: 29px;
  }
}

.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  z-index: 30;
}

.modal-dialog {
  position: relative;
  margin: auto;
  min-width: 450px;
  width: 42%;
  min-width: 200px;
  background-color: #fcfcfc;
  padding: 40px;
  border: 10px solid #009ac0;
  border-radius: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #00D4EE;
  border-radius: 11px;
  border: 2px solid #0081df;
}

.modal-dialog__title {
  text-align: center;
  color: #009ac0;
  font-family: Medium;
  font-size: 28px;
  line-height: 24px;
}

.private__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-input {
  margin-bottom: 10px;
  font-family: Light;
  font-size: 18px;
  border: 2px solid #6ca322;
  border-radius: 18px;
  padding: 4px 0px 4px 17px;
}

.private__button {
  padding: 12px 40px;
  margin-top: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.extra {
  display: none;
}

@media (max-width: 762px) {
  .modal-dialog {
    width: 80%;
  }
}

@media (max-width: 567px) {
  .modal-dialog {
    width: 95%;
  }
  .modal-dialog__title {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */